!!!
%html{:"ng-app" => "WhosIn"}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title whos_in
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.8.2.min.js"}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"}
    %script{:src => "http://js.pusher.com/2.2/pusher.min.js"}
    %script{:src => "http://cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-2.6.2.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    
  %body
    = partial :_nav_main
    = yield
    = partial :_analytics
