
.container{:"ng-controller" => "AppCtrl"}

  
  = partial :_new_user

  .row
    %h1.text-center Who's In?

  .row{style: "margin-top: 100px"}
    .col-md-2
    .col-md-8{style: "margin-left: 50px"}

      .hexagons{:"ng-hide" => "people", style: "margin-left: 160px"}
        .hex.hex-gap{:"data-target" => "#myModal", :"data-toggle" => "modal"}
          .corner-1
          .corner-2

      .hexagons{:"ng-repeat" => "person in people"}
        .hex{style: "background-image: url({{person.gravatar}})", :"ng-class" => "{'hex-gap': shouldCreateGap($index)}", :"data-target" => "$last ? '#myModal' : '' ", :"data-toggle" => "$last ? 'modal' : ''"}

          %a{href:"#", tooltip: "{{person.name}} is in! Last Seen: {{person.last_seen | date:'short'}}", :"ng-hide" => "$last"}

          %a{:"ng-show" => "$last",  "data-target" => "#myModal", "data-toggle" => "modal"}
          .corner-1
          .corner-2

    .col-md-2
    